{% extends "base.html" %}

{% block title %}{{ item.name }} - ITswitch E-commerce{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-8">
        <h1>{{ item.name }}</h1>
        <p class="lead">{{ item.description }}</p>
        <h3>${{ "%.2f"|format(item.price) }}</h3>
        <form method="post" action="{{ url_for('add_to_cart', item_id=item.id) }}">
            <button type="submit" class="btn btn-success btn-lg">Add to Cart</button>
        </form>
    </div>
</div>
{% endblock %}